<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.ncl.openlab.irismsg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".IrisMsgApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.OrganisationListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".activity.OnboardActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.ncl.openlab.irismsg.activity.OnboardActivity" />
        </activity>
        <activity
            android:name=".activity.EmptyMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OnboardActivity"
            android:label="@string/title_activity_onboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditOrganisationActivity"
            android:label="@string/title_activity_add_organisation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OrganisationDetailActivity"
            android:label="@string/title_activity_organisation_detail"
            android:parentActivityName=".activity.OrganisationListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.ncl.openlab.irismsg.activity.OrganisationListActivity" />
        </activity>
        <activity
            android:name=".activity.DonateActivity"
            android:label="@string/title_donate_activity"
            android:theme="@style/AppTheme.NoActionBar"/>



        <service android:name=".service.FirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>



        <receiver android:name=".receiver.SmsSentReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.SmsDeliveredReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVERED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>